<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ page.subpage.seo.title }}{% endblock %}</title>
        <link rel="canonical" href="{{ page.subpage.seo.canonical }}" />
        <meta name="description" content="{{ page.subpage.seo.description }}"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% for breadcrumb in page.breadcrumbs %}
        <a href="{{ breadcrumb.slug }}">{{ breadcrumb.name }}</a><br><br>
    {% endfor %}

    {% block content %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
